<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Document</title>
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
        <!-- <style>
            div {
                border: 1px solid #000;
                padding: 5px 10px;
            }
        </style> -->

    </head>
    <body>
        <div id="app">
            <ul>
                <!-- <li v-for="product in products">{{ product }}</li> -->
                <li v-for="(product,index) in products" :key="product">{{ product }} - {{index}}</li>
            </ul>
            <button @click="products.push('Hoperlör')">Ekle</button>

            <hr>

            <div v-for="(product,index) in products">
                <h3>{{ product }}</h3>
                <p>{{ index }}</p>
            </div>

            <hr>

            <template v-for="(product,index) in products">
                <h3>{{ product }}</h3>
                <p>{{ index }}</p>
            </template>

            <hr>

            <ul>
                <li v-for="personel in persons">
                    <ul>
                        <li v-for="(value,key, index) in personel"><strong>{{key}}</strong> : {{value}} - {{index}}</li>
                    </ul>
                </li>
            </ul>

            <span v-for="n in 5">{{n}}</span>


        </div>
        <script>
            new Vue({
                el: '#app',
                data: {
                    products: ["Monitör", "Klavye", "Askı", "Masa"],
                    persons: [
                        { name: "Ali", email: "ali@mail.com" },
                        { name: "Veli", email: "veli@mail.com" },
                        { name: "Zeki", email: "zeki@mail.com" },
                        { name: "Defne", email: "def@mail.com" }
                    ]
                }
            });
        </script>

    </body>
</html>